CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing

Makefile
!*/Makefile

cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vscode
bin/
run.sh
Session.vim
docs/
src_old/